@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --mainColor: #131722;
  --secColor: #fff;
}

body {
  background-color: #130f40;
  background-image: linear-gradient(70deg, #130f40 0%, #000000 74%);
  font-family: "Montserrat Alternates", sans-serif;
  color: var(--secColor) !important;
}
a,
a:hover {
  color: #fff !important;
  text-decoration: none !important;
}
li {
  list-style: none;
  margin: 10px 0;
}
input {
  background-color: transparent !important;
  color: #fff !important;
}
.theCard{
  transition: 0.2s all ease-in-out;
}
.theCard:hover{
  transform: scale(1.1);
  filter: drop-shadow(1px 1px 1px rgb(13, 202, 240,1)) !important;
  cursor: pointer;
}
.theCard .rating-badge {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.3rem 0.6rem;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  color: white;
  border-radius: 0 0 6px 0;
}
.page-link {
  background-color: transparent !important;
  color: #fff !important;
  text-decoration: none; /* Remove underline */
}
/* Style the hover effect */
.page-link:hover {
  background-color: white !important;
  color: black !important;
}
.pagination .page-item.active .page-link {
  background-color: white !important; /* Active background */
  color: black !important; /* Active text color */
}
/* Swiper buttons */
.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid white; 
  width: 50px !important; /* Adjust size */
  height: 60px !important; /* Adjust size */
  position: absolute;
  top: 50%;
  transform: translateY(-70%);
  z-index: 10;
  color: white !important;
  pointer-events: all;
}
/* Hover effect */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: lightgray !important;
}
/* Default font size for larger screens */
.swiper-slide p {
  font-size: calc(1rem + 0.1vw);
}
.tabs-container .nav-tabs {
  border-bottom: none;
}

/* Adjust font size for smaller screens */
@media (max-width: 768px) {
  .swiper-slide p {
    font-size: 0.85rem !important;
  }
  .tabs-container .dropdown-toggle {
    font-size: 0.7rem; 
    padding: 0.25rem 0.5rem;
  }
  .tabs-container .nav-item {
    font-size: 0.7rem; 
  }
}

@media (max-width: 480px) {
  .swiper-slide p {
    font-size: 0.75rem !important;
  }
  .tabs-container .dropdown-toggle {
    font-size: 0.6rem; 
    padding: 0.25rem 0.5rem;
  }
  .tabs-container .nav-item {
    font-size: 0.7rem;
  }
  .filter-items {
    font-size: 0.7rem !important;
  }
}
.tabs-container .nav-tabs {
  border-bottom: none;
}